[submodule "fairchem"]
	path = fairchem
	url = https://github.com/muhammadhasyim/fairchem.git
	branch = les_branch
[submodule "cace"]
	path = cace
	url = https://github.com/BingqingCheng/cace.git
[submodule "LES-BEC"]
	path = LES-BEC
	url = https://github.com/BingqingCheng/LES-BEC.git
