env:
  global:
    - CUDA_VERSION: "8.0"
    - CUDA_SHORT_VERSION: "80"
    - UPLOAD_BUILD_ARTIFACTS: "true" # If "true", will upload build artifacts to S3 bucket at http://docs.openmm.org/build-artifacts/

osx_image: xcode6.4 # Supported versions: https://docs.travis-ci.com/user/languages/objective-c/#Supported-Xcode-versions

matrix:
  include:
    - sudo: required
      dist: trusty
      services:
        - docker
      env: BUILD="linux"
      addons: {apt: {packages: []}}

    - sudo: required
      dist: trusty
      services:
        - docker
      env: BUILD="source"
      addons: {apt: {packages: []}}

    - language: objective-c
      os: osx
      env: BUILD="osx"
      addons: {apt: {packages: []}}

script:
  - export START_TIME=$(date +%s)
  - echo $START_TIME
  - if [[ "$BUILD" == "linux" ]]; then

        docker run -e TRAVIS_PULL_REQUEST -e START_TIME
            -t -i --rm -v `pwd`:/io jchodera/omnia-build-box:cuda${CUDA_SHORT_VERSION}-amd30-clang38
            bash /io/devtools/travis/linux-build.sh;

    elif [[ "$BUILD" == "source" ]]; then

        docker run -e TRAVIS_PULL_REQUEST -e START_TIME
            -t -i --rm -v `pwd`:/io jchodera/omnia-build-box:cuda${CUDA_SHORT_VERSION}-amd30-clang38
            bash /io/devtools/travis/source-build.sh;

    elif [[ "$BUILD" == "osx" ]]; then

        echo "Building osx...";
        source devtools/travis/osx-build.sh;

    fi

# S3 deployment doesn't do anything right now. Will revive it later.
deploy:
  - provider: s3
    access_key_id:
      secure: "OEY0sp5FlM4kixFNVAktN6YHwKm5ieMswWCHj3MU+rWsAeGCULl/0kyKTfwCPknVlQv+SXBaPP3I4m1fv9FwHt0bbwy5EfmO4crrW8cE4ofq4vnwHi9UG77oEKKRrbxFUZD1y7ywI2W9SyVI6qfggZlJowRy9GV9Lin5vGzhqsw="
    secret_access_key:
      secure: "P7DOYn77bH5Gg1obIwCxanhH0Kgh22Pv1pCGvmI6gHXOE1dxf5pnCSQGFKO6g1K6eaN5TbTjh+BmMXmxgkqByvQ4uZtkTGlPq3HI9YeRjZE2H7bRpIYjXXRwA1RMOA3ofLDw1FXNmwMo8BtRIl4jljR5Iw5rytUZmLlk3zgtcr4="
    bucket: "docs.openmm.org"
    skip_cleanup: true
    region: us-west-1
    local_dir: packaging/
    upload_dir: build-artifacts
    on:
      branch: master
      condition: '! -z "${UPLOAD_BUILD_ARTIFACTS}" && "${UPLOAD_BUILD_ARTIFACTS}" = "true"'
