Forces
~~~~~~

The Force objects added to a :cpp:obj:`System` define the behavior of the
particles.  Force is an abstract class; subclasses implement specific behaviors.
The Force class is actually slightly more general than its name suggests.  A
Force can, indeed, apply forces to particles, but it can also directly modify
particle positions and velocities in arbitrary ways.  Some thermostats and
barostats, for example, can be implemented as Force classes.

.. autodoxysummary::
    :toctree: generated/

{% for force in forces %}
    ~{{force}}
{% endfor %}
