.. _core-objects:
Core Objects
~~~~~~~~~~~~

.. list-table::

{% for obj in core %}
    * - .. toctree::
            generated/{{ obj }}
      - {{ class_summaries[obj] }}
{% endfor %}

|
|

.. _forces:
Forces
~~~~~~

.. list-table::

{% for obj in forces %}
    * - .. toctree::
            generated/{{ obj }}
      - {{ class_summaries[obj] }}
{% endfor %}

|
|

.. _integrators:
Integrators
~~~~~~~~~~~

These integrators implement an algorithm for advancing the simulation
through time.

.. list-table::

{% for obj in integrators %}
    * - .. toctree::
            generated/{{ obj }}
      - {{ class_summaries[obj] }}
{% endfor %}

|
|

.. _extras:
Extras
~~~~~~

.. list-table::

{% for obj in extras %}
    * - .. toctree::
            generated/{{ obj }}
      - {{ class_summaries[obj] }}
{% endfor %}

