

/* 
Text blue: #3D5B96
Dark blue: #c1cede
Mid blue: #e4eef0 
Light blue: #f6fffb
mid green #B1CCC7
rust #96433D
*/

/* used for frameset holders */
.bgnd {
	margin-top:0;
	margin-left:0;
	background: #f6fffb;
	}

/* used for menu */

.menu {
	background: #f6fffb;
	margin-top:20;
	margin-left:40;
	SCROLLBAR-FACE-COLOR: #c1cede; 
	SCROLLBAR-HIGHLIGHT-COLOR: #e4eef0; 
	SCROLLBAR-SHADOW-COLOR: #e4eef0; 
	SCROLLBAR-ARROW-COLOR: #f6fffb; 
	SCROLLBAR-BASE-COLOR: #e4eef0;
}

/* used for content pages */

.main {
	background: #e4eef0;
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:20px;
	SCROLLBAR-FACE-COLOR: #c1cede; 
	SCROLLBAR-HIGHLIGHT-COLOR: #e4eef0; 
	SCROLLBAR-SHADOW-COLOR: #e4eef0; 
	SCROLLBAR-ARROW-COLOR: #f6fffb; 
	SCROLLBAR-BASE-COLOR: #e4eef0;
}

/* used for menu links */

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:normal;
	color: #3D5B96;
	font-weight: normal;
	text-decoration: none;
}

/* used for in body links */

a.bodylink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style:normal;
	color: #3D5B96;
	font-weight: normal;
	text-decoration: underline;
}

/* used for table of contents level 1 */

a.toc1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style:normal;
	color: #3D5B96;
	font-weight: bold;
	text-decoration: none;
}

/* used for table of contents level 2 */

a.toc2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style:normal;
	color: #3D5B96;
	font-weight: normal;
	text-decoration: none;
}

/* used for menu heading */
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style:normal;
	color: #3D5B96;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.3em;
}

/* used for main page headings */


h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-style: normal;
	color: #3D5B96;
	font-weight: bold;
	text-decoration: none;
		}

/* used for subheads in pref. to H2 etc, to limit underlining width */

.subhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #3D5B96;
	font-weight: bold;
	text-decoration: none;
	border-bottom : thin dashed #3D5B96;
	padding-right : 5px;
}

/* used for standard text */

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #3D5B96;
	font-weight: normal;
	text-decoration: none;
	line-height: 1.3em;
	padding-right:15px;
}

code {
		font-family: lucida sans typewriter, courier, monospace;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	line-height: 1.3em;
}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #3D5B96;
	font-weight: normal;
	text-decoration: none;
}

li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #3D5B96;
	font-weight: normal;

}

/* used for text in boxed areas */

.boxed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #96433D;
	font-weight: bold;
	text-decoration: none;
	margin-top:5px;
	margin-bottom:5px;
}

/* used for example code */

.codeblock {
    background: #B1CCC7;
    /*background: #e4eef0;*/
	font-family: lucida sans typewriter, courier, monospace;
	font-size: 8pt;	
	font-style: normal;
	color: #96433D;
	font-weight: normal;
	text-decoration: none;
	padding-right:15px;
}

/* used for example commands */

.command {
	font-size: 8pt;	
	font-style: normal;
	color: #96433D;
	font-weight: bold;
	text-decoration: none;
	padding-right:15px;
}



/* used for links in boxed areas */

a.rust {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:normal;
	color: #96433D;
	font-weight: bold;
	text-decoration: underline;
}

/* used for links at the end of a page */

a.nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:normal;
	color: #96433D;
	font-weight: bold;
}


